<footer>
    <div align="center">
    <table style="width:40%">
        <tr>
            <td>
                <a href="https://linkedin.com/in/srsimms">
                <img src="img/socialMediaIcons/LinkedIn-black2.png" alt="LinkedIn">
                </a>
            </td>
            <td>
                <a href="https://github.com/stephaniesimms">
                <img src="img/socialMediaIcons/Github-black2.png" alt="Github">
                </a>
            </td>
            <td>
                <a href="https://orcid.org/0000-0001-9129-3790">
                <img src="img/socialMediaIcons/orcid-black.png" alt="Orcid">
                </a>
            </td>
            <td>
                <a href="https://twitter.com/stephrsimms">
                <img src="img/socialMediaIcons/Twitter-black2.png" alt="Twitter">
                </a>
            </td>
        </tr>
    </table>
    </div>
    <span>&copy; 2017 - Stephanie Simms</span>
</footer>
